@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: chakra Petch, sans-serif;
    background-color: #c3dcf0;
    background-image: url('melhor.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; /* A imagem não rola junto com o conteúdo */
     background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.5rem;
    color: #222831;
    text-align: center;
    letter-spacing: 0.4rem;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
section input{
    width: 30rem;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    color: #45474b;
    font-size: 1rem;
    box-sizing: border-box;
}
section button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #30475E;
    color: #f5f7f8;
    font-size: 1rem;
    cursor: pointer;
}
section button:hover{
background-color: #30475E;
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.resultado-pesquisa {
    width: 60rem;
    height: 46vh;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
}
.item-resultado{
    background: #FFFFFF;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.iten-resultado h2 {
    font-size: 1.5rem;
    color: #222831;
}
.iten-resultado a {
    text-decoration: none;
    color: #30475E;
} 
.iten-resultado a:hover {
    text-decoration: underline;
}
.descricao-meta {
    color: #45474b;
    margin: 0.5rem 0;
}
footer{
    background-color: #f5f7f8;
    color: #45474b;
    text-align: center;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}